[Unit]
Description=REMOTE_USER auth mechanism for swift gateway

[Service]
WorkingDirectory=/opt/swift-http-auth
Environment=PYTHONPATH=/opt/rgwadmin
ExecStart=/usr/bin/env python3 -u ./swift-http-auth.py

[Install]
Alias=swift-http-auth
WantedBy=multi-user.target
